@{
    ViewBag.Title = "Home Page";
}
<br />




&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  
    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;
     &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  
    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;
    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <a href="#" class="btn btn-info">สมัครสมาชิก</a>   &nbsp;<a href="#" class="btn btn-info">เข้าสู่ระบบ</a>


   <br />
    <br />
    <div class="jumbotron" style="height: auto;max-height: 100%;background: url('@Url.Content("~/Content/images/header15.jpg")') no-repeat center center;"



     /* ฟอน */
    <link href="https://fonts.googleapis.com/css?family=Chewy|Itim" rel="stylesheet" />
    <style type="text/css">
        /* code by https://favoritehtml.blogspot.com/ */
        body {
            font-family: 'Chewy', 'Itim', cursive;
        }
    </style> >



    <center><h1 style="color:White">LUXURY FLOWER</h1> </center>
    </div>




    <center>
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" class="btn btn-success" value="ค้นหา" />

        </p>
    </center>
    



