
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="jumbotron" style="height: auto;max-height: 100%;background: url('@Url.Content("~/Content/images/header15.jpg")') no-repeat center center;"


     <link href="https://fonts.googleapis.com/css?family=Chewy|Itim" rel="stylesheet" />
    <style type="text/css">
        /* code by https://favoritehtml.blogspot.com/ */
        body {
            font-family: 'Chewy', 'Itim', cursive;
        }
    </style> >



    <center><h1 style="color:White">LUXURY FLOWER</h1> </center>
</div> 
<h2>วิธีการสั่งซื้อ</h2>

